<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRUDVoitureDb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CRUDVoitureDb.Properties.Settings>
            <setting name="Paramètre" serializeAs="String">
                <value>"server=localhost;user=root;database=voituredb;port=3306;ssl mode=none"</value>
            </setting>
        </CRUDVoitureDb.Properties.Settings>
    </userSettings>
</configuration>