*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #edecec5c;
}

#jeu {
    border: 1px solid black;
    height: 800px;
    width: 1000px;
    margin: 2% auto;
    position: relative;
    background: white;
}

#carre {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: var(--X);
    left: var(--Y);

}

#direction {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.direction-fleche {
    font-size: 5em;
    cursor: pointer;
}

.autre-cube-1 {
    width: 800px;
    height: 100px;
    background: red;
    position: absolute;
    top: 200px;
}
.autre-cube-2 {
    width: 800px;
    height: 100px;
    background: red;
    position: absolute;
    top: 500px;
    right: 0;
}