<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<CRUD.Properties.Settings>
		<configuration>
			<connectionStrings>
				<add name="Default"
					 connectionString="server=localhost;user=root;port=3306;database=medecinedb;ssl mode=none;" />
			</connectionStrings>
		</configuration>
	</CRUD.Properties.Settings>
</configuration>